#navbar {
    background-color: rgb(85, 233, 188) !important;
}

.brand-logo {
    color: black !important;
}

a {
    color: black !important;
}

#button-add {
    background-color: rgb(17, 211, 188) !important;
}

#onScreen-clock {
    background-color: rgb(17, 211, 188) !important;
    width: 11%;
}

i {
    color: black !important;
}

body {
    background-color: rgb(255, 254, 218);
    color: rgb(48, 68, 73);
}

#sheet {
    border-style: solid;
    border-color: rgba(255, 0, 0, 0.8) !important;
    border-radius: 12px;
    border-width: 5px;
    background-color: rgba(255, 0, 0, 0.05)
}

i.icons-size {
    font-size: 3rem;
}

i.icons-size:hover{
    color:red;
}

.photo-description{
    max-height: 300px;
}


/* Colores

Verde Oscuro: 537780
Verde calipso: 11d3bc
Verde Agua: 55e9bc
Amarillo: fffcca

*/