#navbar {
    background-color: rgb(85, 233, 188) !important;
}

.brand-logo {
    color: black !important;
}

a {
    color: black !important;
}

#button-add {
    background-color: rgb(17, 211, 188) !important;
}

#onScreen-clock {
    background-color: rgb(17, 211, 188) !important;
    width: 10%;
}

i {
    color: black !important;
}

body {
    background-color: rgb(255, 254, 218);
    color: rgb(48, 68, 73);
}

.LPsection {
    border-style: solid;
    border-color: rgb(25, 207, 176) !important;
    border-radius: 12px;
    border-width: 5px;
    background-color: rgba(17, 211, 188, 0.25) !important;
    padding: 20px;
}

.activity {
    border-style: solid;
    border-color: rgb(83, 119, 128) !important;
    border-radius: 12px;
    border-width: 5px;
    background-color: rgba(83, 119, 128, 0.49) !important;
    margin: 10px;
}

#tableBody {
    font-size: 13px
}

.deporte {
    border-style: solid;
    border-color: rgb(25, 207, 176) !important;
    border-radius: 12px;
    border-width: 5px;
    background-color: rgba(17, 211, 188, 0.25) !important;
}

.navButton {
    margin: 5px;
}

#firstRow {
    background-color: rgb(12, 160, 116) !important;

}

i.icons-size {
    font-size: 3rem;
}


/* Colores

Verde Oscuro: 537780
Verde calipso: 11d3bc
Verde Agua: 55e9bc
Amarillo: fffcca

*/