#navbar {
    background-color: #55e9bc !important;
}

.brand-logo {
    color: black !important;
}

a {
    color: black !important;
}

#button-add {
    background-color: #11d3bc !important;
}

i {
    color: black !important;
}

body {
    background-color: #fffeda;
    font-size: 2rem;
    color: #304449;
}

#sheet {
    border-style: solid;
    border-color: #11d3bc !important;
    border-radius: 12px;
    border-width: 5px;
    background-color: #11d3bc41;
    padding: 20px;
}

#tableBody {
    font-size: 13px
}

#deporte {
    border-style: solid;
    border-color: #11d3bc !important;
    border-radius: 12px;
    border-width: 5px;
    background-color: #11d3bc41
}

#navButton {
    margin: 5px;
}

i.icons-size {
    font-size: 3rem;
}


/* Colores

Verde Oscuro: 537780
Verde calipso: 11d3bc
Verde Agua: 55e9bc
Amarillo: fffcca

*/